@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700);

/*! 
 *   Credr Mobile Website
 *   Author: Incredible Technologies
 */
/*
    Core: General style
----------------------------
*/

html, body
{
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background: #de3137;
	width: 100%;
    height: 100%;
    font-family: Montserrat;
}
a
{
    color: #222;
}
a:hover, a:active, a:focus
{
    outline: none;
    text-decoration: none;
    color: #3C3C3C;
}
/* Layouts */

/* Utility */
/* H1 - H6 font */
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: Montserrat;
}

/* Page Header / Pagetitle */

/* All images should be responsive */
img
{
    max-width: 100% !important;
}
/* Remove borders */
.no-border
{
    border: 0px !important;
}
/* Remove padding */
.no-padding
{
    padding: 0px !important;
}
/* Remove margins */
.no-margin
{
    margin: 0px !important;
}
/* Remove box shadow */
.no-shadow
{
    box-shadow: none !important;
}
/* Remove border radius */
.flat
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.no-background{
	background: none;
}
/* boxes */
/* 
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus
{
    border: 0;
    outline: 0;
}
/* button groups */
.btn
{
}
/* Checkbox and radio inputs */
.checkbox, .radio
{
    padding-left: 0;
}
/* Alert*/
/* Error */
/* Required feilds */
.error,.reg
{
    color: #ff0000;
    position: absolute;
    right: 0;
    font-size: 12px;
    margin-top: 5px;
}


/**********************
/**********************
    Left Side Menu
/**********************
/**********************
















































/* HEADER */
.main-header{
	color: #fff; 
	margin-top: 15px;
    
}
/* Header Top*/
.main-header a{
    color:#fff;
    font-size: 1.3em;
}
.main-header .btn-login{
	border: 1px solid #e35549;
    background: #e0423f;
    font-weight: 600;
    text-transform: uppercase;
}

/* Header logo*/

.main-header .logo {
    padding: 3rem 0 1rem;
}

/* Header Tagline*/

.main-header .text {
    width: 90%;
    margin:1.5rem auto;
}
/* Search */
.search .input-group{
    background: #fff;
    border-radius: 4px;
}
.search input {
    font-size: 1.2em;
    height: auto;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 0;
    box-shadow: none;
}
.search .input-group-addon{
    background: #FFF;
    border: 0;
    box-shadow: none;
}
.search .search-btn {
    background: #e1e4e8;
    color: #000;
    font-size: 1.2em;
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
/**************** AUTHENTICATION *****************/

.authentication{
    
    font-weight: 500;
}
.authentication header{
	display: table;
    min-width: 100%;
}
/* Logo */
.authentication header .logo{
	display: table-cell;
    height: 15rem;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    margin: 0 auto;

}
.authentication header .logo img{
	width:200px;
}
/* Form */
.authentication .form-group{
	margin-bottom: 2.0rem;
	position: relative;
}
.authentication .input-group-addon, 
.authentication .form-control {
    box-shadow: none;
    border-width: 0 0 1px 0;
    font-size: 1em;
    border-radius: 0;
    height: auto;
    padding: 10px 12px;
}
@media (min-height: 500px ){
.authentication footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
}
.authentication .btn-success{
	background: #00b035;
	padding: 15px 16px;
    font-weight: 600;
}
