
.search input {
    font-size: 1.2em;
    height: auto;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 0;
    box-shadow: none;
}
.search .input-group-addon{
    background: #FFF;
    border: 0;
    box-shadow: none;
}